html {
	font-size: 1.375rem;
}

body {
	min-height: 100vh;
	max-width: 36.5rem;
	margin: 0 auto;
	padding: 1rem;
	border-left: 1px solid hsl(0 0% 20%);
	border-right: 1px solid hsl(0 0% 20%);
}

header {
	text-align: center;
}

.navItem {
	display: inline-block;
	margin: 0 1rem 1rem;
}

.navItem abbr {
	text-decoration: none;
}

.navLink:hover {
	text-decoration: none;
}

.navCaption {
	padding-bottom: 1rem;
}

.navImg {
	margin: auto;
}

main > article {
	padding: 1rem 0;
}

#menu .menu {
	margin: auto;
	min-width: 15rem;
	max-width: 25rem;
	width: 100%;
}

.menuItem {
	border: 1px solid hsl(0 0% 20%);
	font-family: "Courier New", Courier, monospace;
	border-collapse: separate;
	padding: 0.5rem;
	text-align: center;
}

main > section {
	padding: 1rem 0;
}

form {
	margin: auto;
	max-width: 18rem;
	min-width: 15rem;
	width: 100%;
}

.formField {
	max-width: 18rem;
	min-width: 15rem;
	padding: 0.5rem 1rem 1rem;
	width: 100%;
}

.formTextArea {
	max-width: 25rem;
	min-width: 12.7rem;
	width: calc(100% / 1.02);
}

footer {
	padding-top: 1rem;
}
