html {
	font-size: 1.375rem;
}

body {
	background-color: hsl(51, 100%, 97%);
	border-left: 1px solid hsl(0, 0%, 20%);
	border-right: 1px solid hsl(0, 0%, 20%);
	margin: 0 auto;
	max-width: 36.5rem;
	min-height: 100vh;
	padding: 1rem;
}

body,
hr,
header,
main,
footer {
	min-width: 15rem;
}

header {
	text-align: center;
}

.navItem {
	display: inline-block;
	margin: 0 1rem 1rem;
}

.navItem abbr {
	text-decoration: none;
}

.navLink:hover {
	text-decoration: none;
}

.navCaption {
	padding-bottom: 1rem;
}

.navImg {
	height: 100%;
	margin: auto;
	max-width: 400px;
	width: 100%;
}

main > article {
	padding: 1rem 0;
}

#menu .menu {
	margin: auto;
	max-width: 25rem;
	width: 100%;
}

.menuTitle,
.menuHeader,
.menuItem {
	border: 1px solid hsl(0, 0%, 20%);
	font-family: "Courier New", Courier, monospace;
	border-collapse: separate;
	padding: 0.5rem;
	text-align: center;
}

.menuTitle,
.menuFooter .menuHeader {
	background-color: hsl(51, 100%, 52%);
}

.menuHeader:not(tfoot .menuHeader) {
	background-color: hsl(165, 44%, 52%);
}

.menuItem:not(tfoot .menuItem) {
	background-color: hsl(165, 44%, 88%);
}

.menuFooter .menuItem {
	background-color: hsl(51, 100%, 79%);
}

main > section {
	padding: 1rem 0;
}

form {
	margin: auto;
	max-width: 18rem;
	width: 100%;
}

.formField {
	max-width: 18rem;
	padding: 0.5rem 1rem 1rem;
	width: 100%;
}

.formField p:not(:last-child) {
	white-space: nowrap;
}

.formField p,
.formTextArea {
	min-width: 12.7rem;
	width: 100%;
}

.formLabel:not(:last-of-type) {
	display: inline-block;
	width: 2.65rem;
}

.formInput {
	min-width: 8rem;
	width: calc(100% - 2.885rem);
}

.formTextArea {
	resize: none;
}

footer {
	padding-top: 1rem;
}
